---
import BackBtn from "../components/pathBtn/BackBtn.astro";
import Layout from "../layouts/Layout.astro";
import RepoIcon from "../../public/repo-icon.svg"
---

<Layout>
    <div class="m-auto bg-zinc-900 border-zinc-800 border-2 drop-shadow-lg w-[450px] h-2/3 rounded text-center static">
        <BackBtn />
    <h1 class="text-2xl font-bold my-3">
        <img class="inline mx-1" src={RepoIcon.src} alt="repo-icon">
        <span>Project</span>
    </h1>
  </div>
</Layout>
