---
const { title, link, icon } = Astro.props;
---
<a href={link} class="font-bold flex bg-slate-800 bg-opacity-20 h-fit p-2 rounded">
    <img class="w-6 mx-1" src={icon.src} alt={`${title}-icon`} />
     <span class="m-auto">{title}</span>
</a>