---
  const isDev = import.meta.env.MODE === "development";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/cat-icon.svg" />
    <link rel="stylesheet" href={isDev ?  "../../style.css": "https://github.com/tnp2004/tnp2004.github.io/blob/main/style.css"}>
    <meta name="generator" content={Astro.generator} />
    <title>tnp2004</title>
  </head>
  <body
    class="bg-zinc-900 text-slate-300 flex h-screen selection:bg-emerald-600"
  >
    <slot />
  </body>
</html>